<%- include("../common/layoutStart", {title: title}) %>
<section class="section">
    <div class="container">
        <div class="buttons">
            <a href="/books" class="button is-info">
                <i class="fas fa-reply mr-2"></i>
                All books
            </a>
        </div>
        <%- include("../common/form") %>
    </div>
</section>
<%- include("../common/layoutEnd") %>
