<%- include("./common/layoutStart", {title: title}) %>
<section class="section">
    <div class="container">
        <div class="buttons">
            <a href="/books" class="button is-link">See all books</a>
        </div>
    </div>
</section>
<%- include("./common/layoutEnd")%>
