<%- include("./layoutStart", {title: title}) %>
<section class="section">
    <div class="container">
        <div class="buttons">
            <a href="/" class="button is-link is-large">Go to main page</a>
        </div>
    </div>
</section>
<%- include("./layoutEnd")%>
